/* ___css reset___ */
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/* ___custom property___ */
:root{
   --main-color: #0861FF;
   --main-color-dark: #003eaa;
   --c-black: #000;
   --c-white: #fff;
   --c-lightgray: #5f5f5f;
}

/* ___standard css___ */
html{
   scroll-behavior: smooth;
}
body{
   font-family: "Open Sans", sans-serif;
}

/* ___utility___ */
.big-container{
   margin: 0 auto;
   max-width: 1200px;
}
.small-container{
   margin: 0 auto;
   max-width: 1000px;
}
.btn{
   background-color: var(--main-color);
   color: var(--c-white);
   padding: 6px 10px;
   border: none;
   cursor: pointer;
}
.btn:hover{
   background-color: var(--main-color-dark)
}
.btn-big{
   padding: 12px 15px;
}
.btn-white{
   background-color: var(--c-white);
   color: var(--c-black);
   border: 1px solid #000;
}
.btn-white:hover{
   background-color: #e8e8e8;
}
.debug{
   border: 1px solid red;
}
/* =====header style===== */
/* navbar-section style */
section.navbar{
   display: flex;
   justify-content: space-between;
}

.nav-left, .nav-right{
   display: flex;
}
.nav-left .logo{
   width: 100px;
   height: 20px;
   margin: 20px;
}
.nav-left ul, .nav-right ul{
   display: flex;

}
.nav-left ul li, .nav-right ul li{
   list-style: none;
   padding: 20px;
   cursor: pointer;
}
.nav-left ul li:hover, .nav-right ul li:hover{
   border-bottom: 2px solid var(--c-black);
}
.nav-left ul li a, .nav-right ul li a{
   color: var(--c-black);
   text-decoration: none;
   font-size: 0.9rem;
}
.nav-right button{
   margin: 12px 10px;
}
/* hero-section style */
section.hero{
   background-color: #B4D0E7;
}
.hero-container{
   padding-top: 50px;
}
.hero-title{
   width: 90%;
   margin-bottom: 35px;
}
.hero-title h1{
   font-size: 4rem;
   font-weight: 800;
}
/* hero content style*/
.hero-content{
   width: 100%;
   height: 370px;
   display: flex;
}
.content-text{
   width: 35%;
   position: relative;
}
.content-text p{
   font-size: 0.9rem;
}
.content-text button{
   margin: 30px 0;
}
.content-text span{
   display: block;
   font-size: 0.9rem;
}
.content-text a.arrow-down{
   color: var(--c-black);
   text-decoration: none;
   position: absolute;
   bottom: -5px;
   font-size: 50px;
   transition: 0.3s ease;
}
.content-text a.arrow-down:hover{
   transform: translateY(-5px);
}
.content-image{
   width: 65%;
}
.content-image img{
   width: 100%;
}

/* =====main style===== */
main{
   margin-top: 150px;
}
/* title section style*/
.section-title{
   margin: 0 20px;
}
.section-title h2{
   font-size: 2.5rem;
   margin-bottom: 50px;
}
.section-title label{
   display: inline-block;
   margin-right: 30px;
   margin-bottom: 40px;
}

/* pay-slot section style */
.pay-slot-container{
   display: flex;
}
.pay-slot{
   width: calc(90% / 3);
   border: 1px solid #c5c5c5;
   margin: 20px;
   font-size: 0.9rem;
}
.pay-slot-title{
   text-align: center;
   border-bottom: 1px solid #c5c5c5;
   padding: 10px 0;
}
.pay-slot-title span i{
   margin-right: 5px;
}
.pay-slot-content{
   padding: 35px;
}
.first-content h3{
   font-size: 1.2rem;
   margin-bottom: 20px;
}
.first-content span.price{
   display: block;
   font-weight: bold;
   margin-bottom: 15px;
}
.first-content span.duration{
   display: block;
   color: var(--c-lightgray);
   margin-bottom: 40px;
}
.first-content ul li{
   margin: 20px 0;
}
.pay-slot-content .btn{
   width: 100%;
   margin: 20px 0;
   padding: 10px 0;
}
span.pay-now a{
   color: var(--main-color);
}
span.divisor{
   margin: 40px 0;
   width: 50px;
   display: block;
   border-bottom: 1px solid #c5c5c5;
}
.second-content span{
   display: block;
   font-weight: bold;
   margin-bottom: 30px;
}
.second-content ul li{
   margin-bottom: 20px;
}

/* slot max-width style */
.pay-slot-maxw-container{
   margin: 0 20px;
   border: 1px solid #c5c5c5;
}
.pay-slot-maxw-content{
   display: flex;
   padding: 35px;
   justify-content: space-between;
}
.slot-left{
   max-width: 70%;
   margin-right: 65px;
}
.slot-right{
   width: 30%;
}
.slot-left h3{
   margin-bottom: 15px;
   font-size: 1.2rem;
}
.slot-left span{
   display: block;
   font-weight: bold;
   font-size: 0.9rem;
   margin-bottom: 40px;
}
.slot-left p{
   font-size: 0.9rem;
}
.slot-right button{
   width: 100%;
}

/* banner section style */
section.banner-section{
   margin-top: 120px;
}
.banner{
   display: flex;
   margin: 0 20px;
}
.banner-image{
   width: 60%;
}
.banner-image img{
   width: 100%;
}
.banner-text{
   width: 40%;
   padding: 40px;
}
.banner-text h3{
   font-size: 1.2rem;
   margin-bottom: 10px;
}
.banner-text p{
   font-size: 0.9rem;
   margin-bottom: 25px;
}

/* card section style */
section.card-section{
   margin-top: 120px;
}
.card-container{
   margin: 0 20px;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}
.card{
   width: calc(90% / 3);
   height: 480px;
}
.card-image{
  height: 50%;
}
.card-image img{
   width: 100%;
}
.card-text{
   height: 50%;
}
.card-text h3{
   font-size: 1.2rem;
   margin-bottom: 30px;
}
.card-text p{
   font-size: 0.9rem;
}

/* end-page section style */
section.end-page{
   margin-top: 150px;
}
.final-title{
   width: 70%;
}
.final-title h2{
   margin-bottom: 60px;
}
.final-title a{
   color: var(--main-color);
}





/* =====footer style===== */
footer{
   margin-top: 150px;
   background-color: var(--c-black);
   color: var(--c-white);
}
.footer-content{
   display: flex;
   padding: 50px 0;
   justify-content: space-between;
}
.footer-col span{
   display: block;
   font-weight: bold;
   margin-bottom: 10px;
}
.footer-col ul{
   list-style: none;
   padding-bottom: 50px;
}
.footer-col ul li{
   padding-bottom: 10px;
}
.footer-col ul li a{
   font-size: 0.9rem;
   text-decoration: none;
   color: var(--c-white);
}
.footer-col ul li a:hover{
   text-decoration: underline;
}
.footer-divisor{
   display: block;
   border-bottom: 1px solid #fff;
   width: 80px;
}

.language{
   padding: 70px 0;
}
.language i{
   color: #747474;
}
.language select{
   background-color: #000;
   color: #747474;
   border: none;
   cursor: pointer;
}





